@import url("../../App.css");

.story-display,
.video-display,
.comment-display {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--color-main);
    box-shadow: .5vw 1vh rgba(20, 5, 5, 0.7);
    border-radius: 15px;
    padding: 1vh 1vw;
}

.story-details {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.user-details img {
    width: 3vw;
    height: auto;
    border-radius: 100%;
    margin: 1vh 1vw 0;
}

.user-details {
    display: flex;
    align-items: baseline;
}

.story-title,
.story-user,
.story-date,
.story-genre {
    color: var(--color-light);
}

.story-title {
    margin-bottom: auto;
}

.story-text {
    color: var(--color-main);
    margin-bottom: 2vh;
}

.story-text p {
    font-size: 1.25em;
}

.video-display {
    width: 65vw;
    height: auto;
    margin: 2vh 3vw 2vh auto;
    padding: 1vh 1vw;
}

.comment-display {
    width: 65vw;
    height: auto;
    margin: 2vh 3vw 2vh auto;
}

.video {
    height: 100%;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-size: .75em;
    padding: .5vh .5vw;
    margin: 0 .5vw 1vh;
    background-color: var(--color-main);
    border-color: var(--color-dark);
    color: var(--white);
}

@media (max-width: 720px) {
    .display-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .story-display {
        width: 90vw;
    }

    .story-details {
        display: flex;
        flex-flow: column;
    }

    .video-display {
        background: none;
        border: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .video{
        width: 70vw;
        height: auto;
    } */
}