@import url("../../App.css");

nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: none;
  font-weight: 600;
}

.nav__projectName {
  color: var(--white);
  text-decoration: none;
}

.authLink {
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.nav__projectName,
.authLink {
  transition: transform .5s ease;
}

.nav__projectName:hover,
.authLink:hover {
  transform: scale(1.15);
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: var(--color-main);
  box-shadow: 0 0 5px 0 var(--color-dark);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: var(--color-dark);
}
